* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#webgl {
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
}

#css {
  pointer-events: none;
  cursor: pointer;
}

#css1 {
  pointer-events: none;
  cursor: pointer;
}

#css2 {
  pointer-events: none;
  cursor: pointer;
}

#drawing-canvas {
  background-color: #ffffff;
  display: none;
}
